:root {
    --color-primary: #12555a;
    --color-secondary: #eca351;
    --color-accent: #efcf6b;
    --color-background: #f4eb9c;
    --color-text: #122519;
}

.bg-custom {
    background: var(--color-primary);
}

.bg-fondo {
    background: var(--color-primary);
    color: white;
}

.custom-btn {
    background-color: white; /*color de fondo*/
    border: 2px solid var(--color-primary); /*borde*/
    color: var(--color-primary); /*color text*/
}

.custom-btn:hover {
    background-color: var(--color-primary); /* Color de fondo al pasar el mouse */
    border-color: white; /* Cambia el color del borde en hover */
    color: white; 
}